<ion-header>
  <ion-toolbar>
    <ion-title>App Lotação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Parque do Centenário</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card>
        <img src="./assets/centenario.jpg" />
        <ion-card-header>
          <ion-card-title><ion-badge color="danger"><h1>Lotado</h1></ion-badge></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h2>BR-230, 360, Balsas - MA, 65800-000</h2> 
          <h2>Aberto todos dias das 05:30 às 23:00</h2>
        </ion-card-content>
        
      </ion-card>
    </ion-content>
  </ion-app>
</ion-content>

<ion-button href="pagina1">Voltar</ion-button>
