<ion-header>
  <ion-toolbar>
    <ion-title>App Lotação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Mercado Municipal</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card>
        <img src="./assets/mercado.jpg" />
        <ion-card-header>
          <ion-card-title><ion-badge color="success"><h1>Livre</h1></ion-badge></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h2>Rua Ritinha Pereira, Balsas - MA, 65800-000</h2> 
          <h2>Aberto de segunda a sábado das 08:00 às 18:00</h2>
        </ion-card-content>
        
      </ion-card>
    </ion-content>
  </ion-app>
</ion-content>

<ion-button href="pagina1">Voltar</ion-button>