<body>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Lotação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">App Lotação</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Login</h1>
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    
    

    <ion-button type="submit" href="pagina1">Entrar</ion-button>
    <ion-button href="cadastro">Cadastrar</ion-button>
  </div>
</ion-content>
</body>

